WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin123
WP_ADMIN_EMAIL=admin@example.com
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=mywordpress123
DB_ROOT_PASSWORD=SuperSecret789
SITE_HOST=111.111.11.11
K8S_TOKEN=
